@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;1,300&family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;1,300&family=Playfair+Display:wght@400;500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --transition: all 300ms ease-in-out;
  --dark-color: #332e29;
  --light-color: #fff;
  --color: #eece1a;
  --background1: #000000;
  --background2: #282a3a;
  --background3: #735f32;
  --background4: #c69749;

   /* Fonts */
 --primary-font: 'Playfair Display', serif;
 --second-font:  'Nunito', sans-serif;
 --font: 'Caveat', cursive;

    }



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: var(--second-font);
  line-height: 1.6;
  background: whitesmoke;

}

main{
  background: black;
}

/* Navbar  */
.navbar {
  position: relative;
  padding-top: 1rem;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background: rgba(0, 0, 0, 0.5);
  height: 60px;
}

#navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-brand{
  height: 50px;
  width: 100px;
}

.navbar ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin-left: 0;
  font-size: 1.4rem;
  font-weight: 600;
}

.navbar ul li a {
  padding: 1rem 0;
  margin: 0 10px;
  position: relative;
  letter-spacing: 1px;
  color: var(--dark-color);
  text-decoration: none;
  font-family: var(--font);
}

.navbar ul li a:hover {
  color: var(--color);
  transition: 0.7s ease;
}

/* Home Page */
button,
.btn {
  cursor: pointer;
  border: none;
  background: transparent;
}
ul {
  list-style-type: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--light-color);
}

img {
  width: 100%;
  display: block;
}

img:hover {
  filter: grayscale(100%);
}
.vh-100 {
  min-height: 100vh;
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.3;
  margin-bottom: 2rem;
  color: var(--dark-color);
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.py-7 {
  padding: 7rem 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}



/* paralex */

/* Header */
.parallax {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(/images/pexels-jessica-lewis-593324.jpg);
   min-height: 100vh;
    width: 100%;
    overflow-y: hidden;
    position: fixed;
    display: flex;
  background-size: cover;
  filter: grayscale(100%);
}

.header-content {
  padding-bottom: 4rem;
  z-index: 6;
}
.header-content h1 {
  font-size: 3.5rem;
  margin-bottom: 0;
  text-transform: uppercase;
  color: var(--light-color);
}
.header-content h3 {
  color: var(--light-color);
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 1.5rem;
}
.social-links {
  display: flex;
  margin-top: 3.5rem;
  justify-content: center;
}
.social-links li a {
  width: 40px;
  height: 40px;
  background-color: var(--bs-border-color-translucent);
  margin-right: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.2);
  transition: var(--transition);
}
.social-links li a:hover {
  opacity: 0.9;
  background: var(--color);
}

header.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}






/* About Page */

#about{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.about-left {
  margin-bottom: 4rem;
  height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.about-left img {
  width: 500px;
  border-radius: 40px;
  height: 500px;
  display: block;
  object-fit: cover;
  animation: slideMe 1.5s ease-in;
}

@keyframes slideMe {
from{
    transform:translateX(-100%);
  }
  to {
    transform:translateX(0px);
  }
}
.about-right{
  animation: slideUp 1.5s ease-in; 
}

.about-right p {
  font-size: 1.6rem;
  font-weight: 500;
  color: white;
 
}



@keyframes slideUp {
  from{
    transform: translateY(800px);
  }
  to {
    transform: translateY(0);
  }
} 

.about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.about-content{
  gap: 3rem;
  align-items: center;
}

/* button down and title -reusable */
.btn-down {
  font-size: 3rem;
  display: inline-block;
  margin-top: 1rem;
  transition: var(--transition);
}
.btn-down:hover {
  opacity: 0.8;
  transform: translateY(5px);
  color: var(--color);
}
.btn-down-white {
  color: var(--light-color);
}
.title {
  margin-bottom: 5rem;
}
.title h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  position: relative;
  text-align: center;
  font-size: 3rem;
  color: white;
  font-family: var(--primary-font);

}




.title h2::after {
  position: absolute;
  content: "";
  top: 120%;
  right: 50%;
  width: 70px;
  height: 4px;
  background-color: var(--dark-color);
}



/* work */
#work {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("../images/work-pic.jpg") center/cover no-repeat fixed;
  color: var(--light-color);
}

.work-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

#work .title h2,
#work h3 {
  color: var(--light-color);
}
#work .title h2::after {
  background: var(--light-color);
}
.work-bottom {
  margin-top: 4rem;
  text-align: center;
}
.work-bottom > div .icon img {
  width: 50px;
  margin: 0 auto 1.7rem auto;
}

.work-top p{
  font-size: 1.5rem;
  font-family: var(--second-font);
  line-height: 1.7;
  text-align: center;

}

/* portfolio */
.portfolio-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* contact */
#contact {
  background-color: rgb(248, 248, 248);
}
.contact-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}
.contact-content {
  flex-direction: column;
  align-items: stretch;
}
.contact-left {
  margin-bottom: 5rem;
}
.contact-left .lead {
  padding: 0.5rem;
}
.contact-left form {
  margin-top: 3rem;
}
.contact-left form .form-control {
  display: block;
  margin: 1.6rem 0;
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding: 1rem;
  width: 100%;
}
.contact-left form .form-control::placeholder {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
.contact-left .btn-submit {
  padding: 1.4rem 3rem;
  font-family: "Poppins", sans-serif;
  background-color: var(--dark-color);
  color: var(--light-color);
  margin-top: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.6rem;
  transition: var(--transition);
}
.contact-left .btn-submit:hover {
  background-color: #000;
}

.portfolio-grid > div {
  transition: var(--transition);
}
.portfolio-grid > div:hover {
  transform: scale(0.9);
}

#insta {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("../images/insta-pic.jpg") center/cover no-repeat fixed;
  min-height: 65vh;
}
.insta-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.insta-grid{
  justify-content: center;
}

video{
  width: 100%;
  height: 300px;
}

#insta .title h2 {
  color: var(--light-color);
}
#insta .title h2::after {
  background-color: var(--light-color);
}
.insta-grid > div {
  height: 400px;
  overflow: hidden;
  transition: var(--transition);
}
.insta-grid > div img {
  height: 100%;
  object-fit: cover;
}
.insta-grid > div:hover {
  transform: scale(0.9);
}

/* footer */
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

#footer {
  background: var(--dark-color);
  color: var(--light-color);
}
.footer-content {
  text-align: center;
}
.footer-content h3 {
  color: var(--light-color);
  font-size: 2.5rem;
  letter-spacing: 1px;
}
.footer-content ul {
  flex-direction: column;
}
.footer-content ul li a {
  color: var(--light-color);
  font-size: 1.5rem;
  transition: var(--transition);
}
.footer-content ul li a:hover {
  opacity: 0.7;
}
.footer-content ul li {
  margin: 0.5rem 1rem;
}
.footer-content > div:first-child {
  margin-bottom: 3rem;
}
.footer-content > div:first-child div {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 5rem auto;
  border-radius: 50%;
}

/* Footer */
.footer4 {
  text-align: center;
}

.footer4 p {
  margin: 0 auto;
}

.footer4 .media-icons {
  margin: 1.5em 0;
}

footer * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

footer ul {
  list-style: none;
}

footer {
  color: #fff;
  background: #121315;
}

footer p {
  color: #ccc;
  max-width: 25em;
  font-size: 0.9em;
  line-height: 23px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer h4 {
  margin-bottom: 1em;
  text-transform: uppercase;
}

footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
}

h1 {
  color: #333;
  text-align: center;
  /* margin: 3em 0; */
  font-size: 3em;
}

.footer4 .menu li {
  display: inline-block;
  margin: 0.7em 0.7em 0.7em 0;
  text-align: center;
}

.footer4 .menu a {
  transition: 0.3s;
  font-weight: 600;
}

.footer4 .menu a:hover {
  color: var(--color);
}

.input-wrap {
  margin: 1em 0;
  display: flex;
}

.input-wrap input {
  padding: 0.5em;
  border: none;
  background: #20232a;
  color: #ccc;
}

.input-wrap input:focus {
  outline: none;
}

.input-wrap button {
  padding: 0.8em;
  background: var(--color);
  border: none;
  color: #fff;
}

.input-wrap button:hover {
  background: #fff;
  color: #111;
}

.brand {
  display: block;
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 1em;
}

.media-icons li,
.service-icons li {
  display: inline-block;
  margin: 0.5em 0.5em 0.5em 0;
}

.media-icons a {
  font-size: 1.1em;
  width: 2em;
  height: 2em;
  border: 1px #fff solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

/* Service Page  */
.service-container {
  background-image: url();
  background-position: center;
  background-size: cover;
  height: 100vh;
}

#carousel-vd{
  margin-bottom: 100px;
}
.carousel-item {
  background: #777;
  height: 60vh;
}

.carousel-item img{
  object-fit: cover;
  object-position: center;
  height: 100%;
  overflow: hidden;
}
/* title */
.title2 {
  margin-bottom: 5rem;
}
.title2 h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  position: relative;
}

.title2 h2::after {
  position: absolute;
  content: "";
  top: 120%;
  left: 0;
  width: 70px;
  height: 4px;
  background-color: var(--dark-color);
}

#banner{
  min-height: 100vh;
  background-color: var(--color-grey);
  color: #fff;
  font-size: 3rem;
  line-height: 1;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container-banner{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}




#gallery{
  height: 100%;
 margin-bottom: 100px;
}

.heading h1{
  font-size: 5rem;
  font-weight: 500;
  line-height: 1.1;
  margin: 40px 0px 20px;
}

.code{
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
  text-align: center;
  font-family: 'MainFonts';
  font-weight: 600;
  font-size: 10px;
  list-style: none;
}

/* Card */
.card-container {
  display: inline-flex;
  justify-content: space-evenly;
}

.card {
  width: 100%;
  height: 100%;
  padding: 0.8em; 
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-img {
  background-image: url(/images/pexels-kyle-loftus-5488369.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

.card-info {
  padding-top: 10%;
  font-size: 1.3rem;
  text-align: center;
  line-height: 2;
}

.caro-info .p {
  font-size: 1rem;
}

.card-title h5 {
  text-align: center;
}

.card-subtitle h6{
  text-align: center;
}


.card-text ul {
  display: grid;
  text-align: center;
  padding-left: 0;
}


.card-text ul li {
  font-size: 1.5rem;
  font-weight: 500;
}


.card-body h5{
text-align: center;
margin-bottom: 2rem;
}

svg {
  width: 20px;
  height: 20px;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

.img-container{
  position: relative;
  overflow: hidden;
}

.img-container img{
  transition: .5s ease;
  backface-visibility: hidden;
  height: 400px;
}

.image{
  transition: .5s ease;
  backface-visibility: hidden;
}

.gallery .img-container{
  transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
	width: 100%;
	display: inline-block;
}


.info{
    background: rgba(0, 0, 0, 0.8);
    font-family: 'Farsan', cursive;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 2;
    text-align: center;
    font-size: 120%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.info h2 {
  text-align: center;
  color: white;
  font-family: 'Teko', sans-serif;
}

.img-container:hover .info
{transform: translateX(0);
}

.info ul li{
  transition: 0.3s ease;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;
}
.info ul li:hover{
  transform: translateX(50px) scale(1.3);
}

.img-container:hover img {transition: all 0.3s ease-out;}
.img-container:hover img {transform: scale(1.2, 1.2);}


.overlay{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay .icon-btn1 {
  color: var(--color);
}

.overlay .icon-btn2{
  color: var(--light-color);
}

.img-container:hover .imgage{
  opacity: 0.2;
}

.img-container:hover .overlay{
  opacity: 1;
}

/*Text*/
.text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
}

.text-body {
  font-size: 0.9em;
  padding-bottom: 10px;
  display: flex;
}

/*Button*/
.card-button {
  border: 1px solid #252525;
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

/*Hover*/
.card-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
  border: 1px solid var(--dark-color);
  background-color: var(--color);grid
}

@keyframes chan-sh {
  from {
    content: "Deal";
  }
  to {
    content: "New";
  }
}

/* Original Content */

/* Media Queries */

@media (min-width: 450px) {
  .work-bottom {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: 0;
  }
  .service-content {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 800px) {
  .work-bottom {
    grid-template-columns: repeat(4, 1fr);
  }

}
@media (min-width: 576px) {
  .title h2 .title2 h2 {
    font-size: 4rem;
  }
  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio-grid > div {
    height: 300px;
    overflow: hidden;
  }
  .portfolio-grid > div img {
    height: 100%;
    object-fit: cover;
  }
  .contact-left form .form-control {
    max-width: 500px;
  }
  .footer-content ul {
    flex-direction: row;
  }
  .service-content {
    grid-template-columns: repeat(1, 1fr);
  }
}


@media (min-width: 768px) {
  .header-content h1 {
    font-size: 5rem;
  }
  .about-content,
  .work-top {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6rem;
    row-gap: 0;
  }

  .work-top grid{
    row-gap: 3rem;
  }
  .about-left {
    margin-bottom: 0;
  }
  .contact-content {
    flex-direction: row;
  }
  .contact-right {
    padding-left: 3rem;
    width: 50%;
  }
  .contact-left {
    width: 50%;
  }
  .insta-grid {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    justify-items: center;
  }
  .service-content {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 992px) {
  .insta-grid {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    justify-items: center;
  }
  .insta-grid > div {
    height: 250px;
  }
}

@media (min-width: 1200px) {
  .portfolio-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .portfolio-grid > div:nth-child(2) {
    grid-column: 2 / 4;
  }
  .portfolio-grid > div:nth-child(6) {
    grid-column: 1 / 3;
  }
}

/* home page */
.wrapper .bg-background {
  background-image: url(/images/IMG_7491_edited.jpg);
  background-size: cover;
  background-position: 50%;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
